@import '../../../res/colours.scss';

.dashboard_orders__section {
    position: relative;
    min-height: 100vh;

    @media only screen and (max-width: 768px) {
    }

    @media only screen and (max-width: 576px) {
        h4 {
            font-size: 1rem;
        }
    }
}