$beige-colour: rgb(232, 222, 209);
$pink-new-colour: rgb(238, 196, 199); //rgba(239, 179, 183, 1);
$pink-new-colour-HSL: hsl(356, 55%, 85%); //hsl(356, 65.2, 82.0);
$green-shade-colour: rgb(7, 76, 79);


$pink-new-colour: #facee6;
$gold-colour: #d4af37;