$black-colour: rgba(3, 3, 3, 1);
$lightGray-colour: rgba(228, 228, 228, 1);
$gray-colour: rgb(107, 118, 136);
$brown-colour: rgba(70, 54, 74, 1);
$white-colour: rgba(255, 255, 255, 1);


$beige-colour: rgb(232, 222, 209);
// $beige-dark-colour: rgb(238, 196, 199);
$pink-colour: rgb(238, 196, 199); //rgba(239, 179, 183, 1);
$pink-colour-HSL: hsl(356, 55%, 85%); //hsl(356, 65.2, 82.0);
$blue-colour: 
// #074c4f;
rgba(16, 40, 121, 1);
// $blue-colour-HSL: hsl(226, 76.6, 26.9);
$green-shade-colour: #074c4f;

// $light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

// PINK - #efb3b7, rgba(239,179,183,255)
// GREY - gray
// BLUE - #102879, rgba(16,40,121,255)