@import '../../res/colours.scss';


// .overlay {
//     flex: 1;
//     display: flex;
//     // height: calc(100% - $banner-height);
//     width: 100vw;
//     height: 100%;
//     background: rgba($color: #000000, $alpha: 0.3);
//     position: absolute;
//     top: 0;
//     left: 0;

//     z-index: 0;
// }

.app__about-title-header {
    font-size: 30px;
    color: white;
}

.app__about {
    display: flex;
    flex: 1;
    width: 100%;
    min-height: 100vh;
    background: $beige-colour;

    // &-title {
    //     font-size: 16px;
    //     // border-bottom: 3px solid rgba($blue-colour, 0.4);
    //     // background: green;
    //     color: white;
    // }






    // .box {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     width: 200px;
    //     height: 50px;
    //     border: 2px solid black;
    //     box-shadow: 2px 2px gray;

    //     transition: 0.2s linear 0s;

    //     &:hover {
    //         box-shadow: 5px 5px gray;
    //     }
    // }







}