@import '../../res/colours.scss';

.app__about {
    min-height: 100vh;









    // .box {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     width: 200px;
    //     height: 50px;
    //     border: 2px solid black;
    //     box-shadow: 2px 2px gray;

    //     transition: all 0.2s linear 0s;

    //     &:hover {
    //         box-shadow: 10px 10px gray;
    //     }
    // }




    .effect-1 {
        transition: all 0.2s linear 0s;

        &:before {
            content: "->";
            // font-family: FontAwesome;
            color: red;
            font-size: 15px;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 0;
            top: 0;
            opacity: 1;
            height: 100%;
            width: 40px;
            transition: 0.2s linear 0s;
        }

        &:hover {
            text-indent: -20px;

            &:before {
                opacity: 1;
                text-indent: 0px;
            }
        }
    }






}