@import '../../res/colours.scss';
@import '../../constants/constants.scss';

.landing__section {
    background: $pink-new-colour;
    min-height: calc(100vh - $navbar-height);


    .swiper-slide {
        width: 20rem !important;
        height: 27rem !important;

        animation: slideUp 0.5s forwards;
    }


    .landing__content {
        // display: flex;
        // flex-direction: column;
        // align-items: flex-start;
        padding-top: 80px;




        p {
            color: black;
            line-height: 28px;
            // text-align: right;

            animation: slideFromRight 0.8s forwards;
        }


        .landing__subject {
            letter-spacing: 2px;
            // font-size: 14px;
            // color: #717282;
            color: $green-shade-colour;
            opacity: 0;
            animation: slideFromRight 0.5s forwards;
        }

        .landing__title {
            color: black;
            font-size: 2.5rem;
            font-weight: 600;
            line-height: 2;
            animation: slideFromRight 1.1s forwards;
        }

        .landing__cta-button {
            color: white;
            text-transform: uppercase;
            border-radius: 5px;
            background: $green-shade-colour;
            font-size: 1rem;
            margin-top: 40px;
            animation: scaleUp 0.5s forwards;

            &:hover {
                box-shadow: 5px 5px 20px rgba($green-shade-colour, 0.5);
            }
        }
    }

    .landing__image {
        // width: 20em;

        img {
            object-fit: contain;

        }
    }


    // .td-figure {
    //     perspective: 1500px;
    //     width: 42rem;
    //     height: 32rem;

    //     &:hover {
    //         img {
    //             box-shadow: 0px 0px 30px 1px rgba(black, 1);
    //             transform: rotate(0);
    //         }
    //     }

    //     img {
    //         border-radius: 0.375em;
    //         box-shadow: 0px 0px 20px 1px rgba(black, 0.5);
    //         transition: 300ms;
    //         transform: rotateX(10deg) rotateY(-18deg) rotateZ(3deg);
    //     }
    // }




    #scrollArrow a {
        position: absolute;
        bottom: 50px;
        left: 50%;
        z-index: 2;
        display: inline-block;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        // color: #fff;
        font-size: 0;
        // font: normal 400 20px/1 'Josefin Sans', sans-serif;
        // letter-spacing: .1em;
        // text-decoration: none;
        transition: opacity .3s;

        &:hover {
            opacity: .5;
        }

        span {
            position: absolute;
            top: 0;
            left: 50%;
            width: 20px;
            height: 20px;
            margin-left: -10px;
            border-left: 2px solid $green-shade-colour;
            border-bottom: 2px solid $green-shade-colour;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            opacity: 0;
            -webkit-animation: fadeIn 500ms 3s forwards, bounce 2s infinite;
            animation: fadeIn 500ms 3s forwards, bounce 2s infinite;
            box-sizing: border-box;
        }
    }


    @-webkit-keyframes bounce {
        0%, 40% {
            -webkit-transform: rotate(-45deg) translate(0, 0);
        }
        20% {
            -webkit-transform: rotate(-45deg) translate(-10px, 10px);
        }
    }

    @keyframes bounce {
        0%, 40% {
            transform: rotate(-45deg) translate(0, 0);
        }
        20% {
            transform: rotate(-45deg) translate(-10px, 10px);
        }
    }

    @-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @-moz-keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }



}

@media only screen and (max-width: 992px) {
    .landing__section {
        .landing__content {
            padding-top: 45px;

            .landing__title {
                font-size: 2rem;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .landing__section {

        .swiper-slide {
            width: 230px !important;
        }

        .landing__content {
            padding-top: 45px;

            .landing__title {
                font-size: 1.6rem;
            }

            p {
                font-size: 0.9rem;
            }

            .landing__buy-button {
                font-size: 0.9rem;
            }
        }

        .td-figure {
            width: 37rem;
            height: rem;
        }
    }
}

@media only screen and (max-width: 576px) {
    .landing__section {
        .swiper-slide {
            width: 250px !important;
        }

        .landing__content {
            padding-top: 0;
            margin-bottom: 40px;
        }
    }
}