@import '../../res/colours.scss';

.app__gallery {
    min-height: 100vh;
    

    .container {
        /* top | right | bottom | left */
        /* vertical | horizontal */
        padding: 0 5% 40px 5%;
    }

    .image-gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}