@import '../../res/colours.scss';

.app__gallery {
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin-top: 70px;

    justify-content: center;
    align-items: flex-start;

    .container {
        padding: 40px 5%;
    }

    .image-gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}