@import '../../res/colours.scss';

.gallery__section {

    .loading-container {
        display: flex;
        height: 450px;
    }


    .container {
        margin-top: 30px;
        margin-bottom: 30px;

        .image-gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            grid-auto-flow: dense;
        }
    }

    @media only screen and (max-width: 768px) {}

    @media only screen and (max-width: 576px) {
    }
}