@import '../../../../res/colours.scss';

.app__training-expectation {
    background: $white-colour;



    .list {
        @media screen and (max-width: 900px) {
            padding: 0 1rem;
            gap: 3rem;
        }

        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 6rem;
        padding: 0 3rem;
        margin: 4rem 0;
    }

    ul {
        list-style-type: circle; // upper-roman;

        &.columns > li {
            display: inline-block;
            padding-right: 1cm;
            margin-left: 20px;
        }
    }

    .expectation-card {
        @media screen and (max-width: 900px) {
            flex-direction: column;
            height: 600px;
        }

        display: flex;
        width: 100%;
        height: 400px;
        justify-content: space-between;
        border-radius: 16px;
        overflow: hidden;


        img {
            object-fit: cover;
            object-position: center center;
            width: 100%;
            height: 100%;
        }
    }
}