@import './mixin.scss';
@import '../res/colours.scss';


@include keyframes(full-rotation) {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*@include keyframes(shine-pink) {
    0% {
        background: linear-gradient(30deg,
                hsl(260, 85%, 95%) 0%,
                $pink-colour-HSL 25%);
    }
    25% {
        background: linear-gradient(30deg,
                $pink-colour-HSL 0%,
                hsl(260, 85%, 95%) 25%,
                $pink-colour-HSL 50%);
    }
    50% {
        background: linear-gradient(30deg,
                $pink-colour-HSL 0%,
                hsl(260, 85%, 95%) 50%,
                $pink-colour-HSL 75%);
    }
    75% {
        background: linear-gradient(30deg,
                $pink-colour-HSL 0%,
                hsl(260, 85%, 95%) 75%,
                $pink-colour-HSL 100%);
    }
    100% {
        background: linear-gradient(30deg,
                $pink-colour-HSL 0%,
                hsl(260, 85%, 95%) 100%);
    }
}*/

// @include keyframes(bouncy) {
@keyframes bouncy {
    0% { top: 0em }
    40% { top: 0em }
    43% { top: -0.5em }
    46% { top: 0em }
    48% { top: -0.2em }
    50% { top: 0em }
    100% { top: 0em; }
}


/*@include keyframes(shine) {
    0% {
        background: linear-gradient(30deg,
                hsl(260, 85%, 95%) 0%,
                hsl(260, 90%, 40%) 25%);
    }

    25% {
        background: linear-gradient(30deg,
                hsl(260, 90%, 40%) 0%,
                hsl(260, 85%, 95%) 25%,
                hsl(260, 90%, 40%) 50%);
    }

    50% {
        background: linear-gradient(30deg,
                hsl(260, 90%, 40%) 0%,
                hsl(260, 85%, 95%) 50%,
                hsl(260, 90%, 40%) 75%);
    }

    75% {
        background: linear-gradient(30deg,
                hsl(260, 90%, 40%) 0%,
                hsl(260, 85%, 95%) 75%,
                hsl(260, 90%, 40%) 100%);
    }

    100% {
        background: linear-gradient(30deg,
                hsl(260, 90%, 40%) 0%,
                hsl(260, 85%, 95%) 100%);
    }

    // 10% {
    //     opacity: 1;
    //     top: -30%;
    //     left: -30%;
    //     transition-property: left, top, opacity;
    //     transition-duration: 0.7s, 0.7s, 0.15s;
    //     transition-timing-function: ease;
    // }
    // 100% {
    //     opacity: 0;
    //     top: -30%;
    //     left: -30%;
    //     transition-property: left, top, opacity;
    // }
}*/