@mixin keyframes($name) {
    @-webkit-keyframes #{$name} { @content; }
    /* Safari & Chrome */
    @-moz-keyframes #{$name} { @content; }
    @-ms-keyframes #{$name} { @content; }
    @-o-keyframes #{$name} { @content; }
    @keyframes #{$name} { @content; }
}

// e.g. "@include animation(animation-name-here)"
@mixin animation($name) {
    -webkit-animation: $name;
    /* Safari & Chrome */
    -moz-animation: $name;
    -o-animation: $name;
    animation: $name;
}

@mixin background-image-linear-gradient($from, $to) {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from($from), to($to));
    background-image: -webkit-linear-gradient($from, $to);
    background-image: -moz-linear-gradient($from, $to);
    background-image: -o-linear-gradient($from, $to);
    background-image: linear-gradient($from, $to);
}

@mixin rotateZ($degrees) {
    transform: rotateZ($degrees);
    -webkit-transform: rotateZ($degrees);
    -moz-transform: rotateZ($degrees);
    -o-transform: rotateZ($degrees);
}

@mixin blur($amt) {
    -webkit-backdrop-filter: blur($amt);
    // -webkit-filter: blur($amt);
    backdrop-filter: blur($amt);
}

@mixin box-shadow($colour) {
    -webkit-box-shadow: inset 0px 0px 5px $colour;
    -moz-box-shadow: inset 0px 0px 5px $colour;
    box-shadow: inset 0px 0px 5px $colour;
}


@mixin shine-effect($colour-HSL) {
    @include keyframes(shine-anim) {
        0% {
            background: linear-gradient(30deg,
                    hsl(260, 85%, 95%) 0%,
                    $colour-HSL 25%);
        }
        25% {
            background: linear-gradient(30deg,
                    $colour-HSL 0%,
                    hsl(260, 85%, 95%) 25%,
                    $colour-HSL 50%);
        }
        50% {
            background: linear-gradient(30deg,
                    $colour-HSL 0%,
                    hsl(260, 85%, 95%) 50%,
                    $colour-HSL 75%);
        }
        75% {
            background: linear-gradient(30deg,
                    $colour-HSL 0%,
                    hsl(260, 85%, 95%) 75%,
                    $colour-HSL 100%);
        }
        100% {
            background: linear-gradient(30deg,
                    $colour-HSL 0%,
                    hsl(260, 85%, 95%) 100%);
        }
    }
    animation: shine-anim 260ms;
    // @include animation('shine-anim 260ms');
    // @include animation(shine-anim);
}