@import '../../res/colours.scss';

.services__section {
    background: white;

    .category-header {
        font-weight: 700;
        margin-left: 10px;
        margin-bottom: 20px;
        text-decoration: underline;
    }

    .list {
        margin-bottom: 20px;
    }


}