@import '../../res/colours.scss';
@import '../../constants/constants.scss';

.app__services {
    min-height: 100vh;
    background: $white-colour;
    // margin-bottom: calc($footer-height - 10px);
    padding-bottom: 2rem;

    // .title {
    //     margin-bottom: 1.5rem;
    //     // font-family: cursive;
    // }


    section {
        width: 100%;

        .title {

        }

        .price {
            
        }

        .duration {
            
        }
    }
}