@import '../../res/colours.scss';

.app__testimonial {
    // padding: 2rem 0;
    // background: $beige-colour;
    // min-height: 100vh;

    &-title {
        @media screen and (max-width: 900px) {
            font-size: 1.9rem;
            // padding: 0 1.4rem;
        }
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        // overflow-y: hidden;
        padding-bottom: 10px;

        gap: 2rem;
    }
}