@import '../../res/colours.scss';

.app__testimonial {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem 0;

    justify-content: center;
    align-items: center;
    // border-top: 2px solid rgba($pink-colour, 0.2);


    // .title {
    //     margin-bottom: 1.5rem;
    //     font-family: cursive;
    // }

    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}