@import '../../../res/colours.scss';
@import '../../../constants/constants.scss';

.catalog__form {
    .form__group {
        position: inherit;
        margin-bottom: 30px;

        input {
            // width: 100%;
            border: 1px solid black;
            border-radius: 5px;
            padding: 8px 20px;
        }

        span {
            display: flex;
            align-items: center;
            column-gap: 5px;
            color: $green-shade-colour;
            font-weight: 600;

            &:hover {
                cursor: pointer;
            }
        }
    }
}



.dashboard_catalog__section {
    min-height: 100vh;
    padding: 0;

    .dash__catalog {



        &__menu {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: space-between;
            padding: 1.5rem 2rem;
            height: 40px;
            background: $beige-colour;

            // position: sticky;
            // top: $navbar-height;
            // z-index: 5;

            // button {
            //     background: $green-shade-colour;
            //     color: white;
            // }

            .tab {
                background: lightgray;
                color: black;
                border: 2px solid grey;

                transition: 0.3s ease-in-out;


                &-selected {
                    background: $pink-colour;
                    border: 2px solid $green-shade-colour;
                    color: white;
                }
            }

            .green-button {
                background: $green-shade-colour;
                color: white;
            }
        }



    }


    .catalog__form {

        .new-product__photo-picker {}

        .product-previewImage {
            background: lightgray;
            width: 200px;
            height: 200px;

            img {
                position: relative;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }

    }



    .table {

        thead {


            tr {

                th {
                    // position: sticky;
                    // top: $navbar-height + 48px;
                    // z-index: 5;
                }
            }
        }

        tbody {

            tr {

                td {}
            }
        }

        @media only screen and (max-width: 992px) {}

        @media only screen and (max-width: 768px) {}

        @media only screen and (max-width: 576px) {}
    }
}