@import '../../res/global.scss';

.drawer {
    display: flex;
    z-index: 5;


    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // background: rgba($color: #000000, $alpha: 0.5);
    // z-index: 99;


    .menu {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;


        // position: absolute;
        // top: 0;
        // right: 0;
        width: 100%;
        height: 100%;
        // background: white;
        background: linear-gradient(to bottom right, $pink-colour, $green-shade-colour);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 100;

        // transition: transform 0.3s ease-in-out;
        // transform: translateX(0);


        // &[data-isopen="true"] {
        //     transform: translateX(100%);
        // }


        .navigation {
            color: black;
            width: 100%;
            height: 100%;
            justify-content: center;


            .nav--links {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 2.7rem;
                // margin-bottom: 0;
                transform: translateY(50%);
            }
        }
    }
}