@import '../../util/mixin.scss';
@import '../../res/colours.scss';

.main {
    background: white;
    display: flex;


    .box {
        width: 100%;
        // background: $pink-colour;
        margin-top: 50px;
        padding: 5% 20px;
        /* Added a percentage value for top/bottom padding to keep the wrapper inside of the parent */
        @include skewY(-5deg);
    }

    .box>.wrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        align-items: center;
        @include skewY(5deg);


        header {
            margin-bottom: 1.2rem;
            width: fit-content;

            @media screen and (max-width: 900px) {
                margin-top: 1.2rem;
            }

            .title {
                // margin-bottom: 1.5rem;
                // font-family: cursive;
                border-bottom: 3px solid rgba($pink-colour, 0.4);
            }
        }
    }
}