@import '../../res/colours.scss';
@import '../../util/mixin.scss';


// .app__shopping-full {
//     bottom: 0;
// }

.app__shopping-sidebar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;


    &-full {
        // bottom: 0;
        // Add a blur
        // @include blur(4px);
    }




    &--panel {
        @media screen and (max-width: 900px) {
            width: 80vw;
        }
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        width: 30vw;
        z-index: 9;
        display: flex;
        flex-direction: column;
        padding: 0 1.2rem;
        // background: rgba(rgba($beige-colour, 0.85), 1);
        // background: linear-gradient(to bottom, $pink-colour, $beige-colour);
        // background: linear-gradient(to bottom, $green-shade-colour, $pink-colour);
        background: $beige-colour;
        box-shadow: 0 0 20px rgb(128, 128, 128);

        transition: 0.3s ease-in-out;




        header {
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 10vh;
            // background: red;
            // padding: 1.7rem;

            span {
                display: flex;
                align-items: center;
                justify-content: center;

                h1 {
                    font-size: 1.1rem;
                }

                hr {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    border: .8px solid rgba($green-shade-colour, 0.4);
                    // margin: 0 1.8rem;
                }
            }

            .shopping-close-button {
                position: fixed;
                top: 0;
                right: 0;
                transform: translate(-35px, 13px);

                display: flex;
                width: 35px;
                height: 35px;
                justify-content: center;
                align-items: center;
                // border: none;
                border-radius: 50px;
                box-shadow: 0 5px 10px rgba($green-shade-colour, 0.5);
                padding: 0.5rem;


                svg {
                    width: 100%;
                    height: 100%;
                }

                // &:hover {
                //     cursor: pointer;
                // }
            }
        }

        .panel--content {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: flex-start;
            // padding: .5rem 0;
            height: 75vh;
            overflow-y: scroll;
            gap: 1.2rem;
            padding: 1rem 0.3rem;
            margin-bottom: 10px;

            // background: blue;


            .basket-item {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: auto;
                border: 3px solid white;
                box-shadow: 5px 5px 0px rgba($green-shade-colour, 0.5);
                overflow: visible;
                background: lightgray;
                padding: .5rem;
                // background: $green-shade-colour;


                display: grid;
                grid-template-columns: auto 40px 30px;
                align-items: center;




                .item-content {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                }
                .item-remove-button {
                    display: flex;
                    width: auto;
                    height: 100%;
                    justify-content: center;
                    align-items: center;

                    button {
                        background: transparent;
                        padding: 5px;
                        height: 100%;
                        width: 30px;

                        transition: 0.3s ease-in-out;

                        svg {
                            width: 100%;
                            height: 100%;
                        }

                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }

        .patch-test {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 35px;
            font-size: 1rem;
            // background: red;

            .title {
                display: flex;
                gap: 5px;
                justify-content: center;
                align-items: center;
                font-size: 0.9rem;

                svg {
                    color: red;
                }
            }

            .more-info {
                font-size: 0.8rem;
                
                button {
                    color: gray;
                    background: transparent;

                    transition: 0.3s ease-in-out;

                    &:hover {
                        color: black;
                        // text-shadow: 5px 5px 0px rgba($green-shade-colour, 0.5);
                    }
                }
            }

        }

        footer {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 15vh;
            // background: green;


            .shopping-basket-drawer-buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 100%;
                height: 7vh;
                gap: 0.5rem;

                button {
                    height: 25px;
                    width: 100%;
                    color: black;
                    padding: 5px;

                    transition: 0.3s ease-in-out;

                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .total-content {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                // background: blue;
                height: 60px;


                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    hr {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        border: .8px solid rgba($green-shade-colour, 0.4);
                    }

                    h3 {
                        font-size: 1.1rem;
                        // font-weight: bolder;
                        // font-style: italic;
                    }
                }
            }

            .cards-used-to-pay {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 25px;
                width: 100%;
                padding-bottom: 5px;
                gap: 5px;
                // background: red;


                img {
                    object-fit: contain;
                    height: 100%;
                }
            }
        }
    }
}