@import '../../../res/colours.scss';
@import '../../../util/keyframes.scss';
@import '../../../util/mixin.scss';

.course-card {
    @media screen and (max-width: 900px) {
        width: 85vw;
        height: 29rem;
    }

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18em;
    height: 30em; //26em;
    border-radius: 15px;
    overflow: hidden;
    background: $beige-colour;

    transition: 0.3s ease-out;


    .photo {
        // @media screen and (max-width: 900px) {
        //     height: 80%;
        // }
        position: relative;
        // margin: 20px;
        width: 100%;
        height: 45%;
        box-shadow: 0 0 5px 5px rgba($pink-colour, 0.5);
        // border-radius: 50%;
        overflow: hidden;

        transition: 0.3s ease-out;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }

    .info {
        display: inline-block;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 50%;
        padding: 0.5rem 0.2rem;
        text-align: center;
        overflow: hidden;


        .title {
            font-size: 1.5em;
            color: $black-colour;
            font-weight: bolder;
            font-family: cursive;
            margin-bottom: 0.5rem;
        }

        .description-container {
            @media screen and (max-width: 900px) {
                height: 7.0em;
            }
            font-size: 0.9em;
            height: 8em;
            padding: 0 0.3em;
            overflow: hidden;
            text-overflow: ellipsis;
            overflow-y: scroll;
            color: $black-colour;
        }

        .price-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-family: cursive;


            .price {
                color: $black-colour;
                font-weight: lighter;
                font-size: 1.7rem;
            }

            &[data-onsale="true"] {

                .price {
                    color: gray;
                    font-size: 1.2rem;
                }
            }

            .sale-price {
                color: $black-colour;
                font-weight: bolder;
                font-size: 1.9rem;

                &::before {
                    content: '\00a0';   // adds a white space between the values
                }
            }
        }

        .is-on-sale {
            color: gray;
            text-decoration-line: line-through;
        }
    }



    .join-button {
        position: absolute;
        bottom: 0;
        width: 60%;
        height: 3em;
        margin-bottom: 0.6rem;
        background: $pink-colour;
        color: $blue-colour;
        border-radius: 10px;
        font-weight: bolder;

        transition: 0.3s ease-in-out;


        &:hover {
            cursor: pointer;
            border: 2px solid $gray-colour;
            transform: scale(1.05);
            @include shine-effect($pink-colour-HSL);
        }

        &:active {
            transform: scale(0.95);
        }
    }

    &:hover {
        cursor: pointer;
        // transform: scale(1.05);
        border: 10px solid $pink-colour;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);

        z-index: 2;

        .circle {
            box-shadow: 0 0 10px 10px rgba($pink-colour, 0.5);
        }
    }
}












/*.course-card {
    @media screen and (max-width: 900px) {
        width: 85vw;
        height: 85vw;
    }
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 18rem;
    height: 21rem;
    border: 0px solid transparent;
    box-shadow: 10px 10px gray;
    overflow: hidden;
    border-radius: 10px;

    transition: 0.2s linear 0s;
    
    
    &:hover {
        transform: scale(1.075);
        border: 3px solid $pink-colour;
        box-shadow: 10px 10px gray;


        .background {

            filter: blur(4px) brightness(50%);
        }
        .title-banner {
            transform: translateY(100px);
        }
        .sale-sticker {
            // @include shine-effect-delayed($pink-colour-HSL, 2s);
        }
        .info {
            opacity: 1;
        }
        .buttons {
            opacity: 1;
        }
    }

    .background {
        position: absolute;
        display: block;
        margin: 0 auto;

        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;

        filter: blur(0px) brightness(100%);

        // transition: 0.2s linear 0s;
    }


    .top-banner {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: auto;
        background: $pink-colour;
        padding: 5px 0px;
        z-index: 4;

        transform-origin: right;
        transform: rotateZ(40deg) translate(43%, 55px);
        
        p {
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            color: $white-colour;
        }
    }

    .title-banner {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        bottom: 30px;
        right: 0;
        left: 0;
        height: auto;
        padding: 8px 0;
        background: $pink-colour;

        transition: 0.4s linear 0s;
        transform-origin: center;
        // animation: shine-pink 260ms;

        z-index: 1;


        label {
            font-size: 1.1em;
            color: $blue-colour;
        }
    }

    // .circle {
    //     width: 0rem;
    //     height: 0rem;
    //     // background: linear-gradient(to bottom right, $blue-colour, $pink-colour);
    //     // background: linear-gradient(to right,
    //     //         rgba(245, 70, 66, 0.75),
    //     //         rgba(8, 83, 156, 0.75));
    //     position: absolute;
    //     border-radius: 50%;
    //     z-index: 0;

    //     transition: 0.2s linear 0s;
    // }

    .sale-sticker {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 0.3rem;
        right: 0.3rem;

        width: 4rem;
        height: 4rem;
        background: $pink-colour;
        color: $blue-colour;
        border-radius: 50%;
        border: 3px solid $blue-colour;

        // animation: shine-pink 260ms infinite;
    }

    .info {
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        left: 0;
        top: 0;
        width: 100%;
        height: 85%;
        // padding: 2rem 0.5rem;
        // background: red;

        transition: 0.2s linear 0s;
        transform-origin: center;
        opacity: 0;


        .title {
            color: $white-colour;
            font-weight: bolder;
            // font-size: 1.8rem;
            font-size: clamp(1rem, 1.8vw, 2rem); 
            text-align: center;

            // text-shadow: 10px 6px 14px #EF7B92;
        }

        .description {
            font-size: 1rem;
            // padding: 1.5rem 0rem;
            color: $white-colour;
            text-align: center;
            // font-weight: lighter;
        }

        .duration {
            color: $white-colour;
        }

        .price-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;


            .price {
                color: $white-colour;
                font-weight: lighter;
            }

            .sale-price {
                color: $white-colour;
                font-weight: bolder;
                font-size: 20px;

                &::before {
                    content: '\00a0';   // adds a white space between the values
                }
            }
        }

        .is-on-sale {
            color: gray;
            text-decoration-line: line-through;
        }
    }
    

    .buttons {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        width: 100%;
        height: 30px auto;
        padding: 0 3rem;
        margin: 0.4rem 0;
        
        transition: 0.2s linear 0s;
        transform-origin: center;
        opacity: 0;



        .enroll-button {
            width: 100%;
            padding: 0.8rem 0rem;
            background: $pink-colour;
            border: none;
            color: $blue-colour;
            border-radius: 10px;
            font-weight: bolder;
            overflow: hidden;

            transition: 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                border: 2px solid $gray-colour;
                transform: scale(1.05);
                @include shine-effect($pink-colour-HSL);
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }

    .abt {
        position: absolute;
        bottom: 5px;
        right: 5px;
        // width: 100%;
        height: 20px;
        z-index: 3;

        img {
            object-fit: cover;
            object-position: center center;
            width: 100%;
            height: 100%;
            // filter: sepia(50%)
        }
    }
}


























.card-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    filter: drop-shadow(-10px 10px 3px $gray-colour);


    img {
        position: absolute;
        display: block;
        margin: 0 auto;
        border-radius: 10px;

        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
    }

    .most-popular-banner {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: auto;
        // background: $pink-colour;
        background-image: linear-gradient(to bottom,
                rgba($pink-colour, 1),
                rgba($pink-colour, 0.3) 90%,
            );
        padding: 10px 0px;


        p {
            font-size: 20px;
            font-weight: bold;
            color: $white-colour;
        }
    }

    .title-banner {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 20px;
        right: 0;
        left: 0;
        height: auto;
        padding: 5px 0;
        background: $blue-colour;

        // animation: shine-pink 260ms;

        label {
            font-size: 20px;
            color: white;
        }
    }
}

.card-item-back {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;




    // .circle {
    //     width: 10rem;
    //     height: 10rem;
    //     // background: linear-gradient(to bottom right, $blue-colour, $pink-colour);
    //     background: linear-gradient(to right,
    //             rgba(245, 70, 66, 0.75),
    //             rgba(8, 83, 156, 0.75));
    //     position: absolute;
    //     border-radius: 50%;
    //     z-index: 1;
    // }

    .sale-sticker {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -0.5rem;
        right: -0.5rem;

        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background: $pink-colour;
        color: $blue-colour;

        // animation: shine-pink 260ms infinite;
    }

    .info {

        .title {
            font-size: 2rem;
        }

        .description {
            font-size: 1.3rem;
            padding: 2rem 0rem;
            color: #585858;
            font-weight: lighter;
        }

        .price-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;


            .price {
                font-weight: lighter;
            }

            .sale-price {
                font-weight: bolder;

                &::before {
                    content: '\00a0';
                }
            }
        }

        .is-on-sale {
            color: gray;
            text-decoration-line: line-through;
        }
    }


    .buttons {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        width: 100%;
        height: 30px; //auto;
        padding: 0 3rem;
        margin: 0.4rem 0;


        .enroll-button {
            width: 100%;
            padding: 0.8rem 0rem;
            background: $pink-colour;
            border: none;
            color: $blue-colour;
            border-radius: 10px;
            font-weight: bolder;
            overflow: hidden;

            transition: 0.3s ease-in-out;

            &:hover {
                transform: scale(1.05);
                // animation: shine-pink 260ms;
                // @include shine-effect($pink-colour-HSL);
                cursor: pointer;
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }
}
*/