@import '../../res/colours.scss';
@import '../../constants/constants.scss';

.testimonials__section {




    .swiper-slide {
        width: 30rem !important;
        height: 22rem !important;
    }
}



@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 576px) {
    .testimonials__section {
        .swiper-slide {
            width: 22rem !important;
            height: 20rem !important;
        }
    }
}