@import '../../../res/colours.scss';
@import '../../../constants/constants.scss';

:root {
    --drawer-menu-button-scale: 35px;
}

.shopping-button-container {
    position: absolute;
    display: inline-block;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    transform: translate(-20px, 15px);
    // bottom: 0;
    z-index: 10;



    button {
        display: flex;
        width: var(--drawer-menu-button-scale);
        height: var(--drawer-menu-button-scale);
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50px;
        box-shadow: 5px 5px 5px rgba($green-shade-colour, 0.5);
        padding: 8px;
        color: black;

        &:hover {
            cursor: pointer;
        }
        
        svg {
            width: 100%;
            height: 100%;

            color: $green-shade-colour;
        }

        .indicator {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: -2px;
            right: -6px;
            --scale: 17px;
            width: var(--scale);
            height: var(--scale);
            border-radius: 10px;
            padding: 4px;

            background: red;

            transform: scale(0);
            animation: scale-up 0.3s 0.5s forwards;


            span {
                @media screen and (max-width: 900px) {
                }
                color: white;
                font-size: 0.8rem;

                &[data-count="true"] {
                    font-size: 0.5rem;
                }
            }
        }


        // &[data-count="2"] {
        //     .indicator {
        //         transform: scale(0);
        //         animation: scale-up 0.3s 0.5s forwards;
        //     }
        // }
    }
}