@import '../../../res/colours.scss';
@import '../../../constants/constants.scss';

.app__contact {
    width: 100%;
    min-height: calc(100vh - $navbar-height);
    background: $white-colour;
    

    &--content {
        @media screen and (max-width: 900px) {
            width: 95%;
            height: 80%;
        }
        // grid-area: box;
        box-sizing: border-box;
        width: 30em;
        height: 30em;
        background: $beige-colour;
        padding: 20px;


        .title {
            text-transform: uppercase;
            margin-bottom: 40px;

            color: $green-shade-colour;
            border-bottom: 3px solid rgba($pink-colour, 0.4);
        }

        form {

            div {
                margin-bottom: 20px;

                input {
                    background: $white-colour;
                }
            }

            // .options {
            //     display: flex;
            //     justify-content: space-between;

            //     .forgot-password {
                    
            //     }
    
            //     .signup {
                    
            //     }
            // }

            .send {
                width: 70%;
                height: 40px;
            }
        }
    }
}