@import '../../res/colours.scss';

.forgot-password__form {
    padding: 20px;
    background: $beige-colour;
    border-radius: 5px;

    .form__group {
        position: inherit;
        margin-bottom: 30px;
    
        input {
            width: 100%;
            border: 1px solid black;
            border-radius: 5px;
            padding: 8px 20px;
        }
    
        span {
            display: flex;
            align-items: center;
            column-gap: 5px;
            color: $green-shade-colour;
            font-weight: 600;
    
            &:hover {
                cursor: pointer;
            }
        }
    }


    .forgot-button {
        margin-top: 20px;
        background: $green-shade-colour;
        color: white;
    }

    .forgot-button + .forgot-button {
        margin-left: 20px;
    }
}