@import '../../../res/global.scss';
@import '../../../res/colours.scss';

// https://codepen.io/muhammadfarhan999/pen/GRoxgeO
// $social-colours:
//     #3b5998,
//     #00acee,
//     // #feda75,
//     // red,
// ;

.expert-card {
    position: relative;
    width: 250px;
    height: 350px;
    box-shadow: 0 0 10px rgb(7, 76, 79);
    border-radius: 20px;
    overflow: hidden;
    color: white;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    transition: all 500ms;


    &:hover {
        box-shadow: 10px 10px 20px rgb(7, 76, 79);
    }

    .gradient {
        height: 100%;
        width: 100%;
        top: 0;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(253, 252, 252, 0.21));
        color: white;

        &:hover {
            background: transparent;
        }
    }

    .content {
        bottom: 0;
        position: absolute;
        margin-bottom: 10px;
        padding: 20px;
        width: 100%;


        h2 {
            font-size: xx-large;
            letter-spacing: -1px;
            // transition: all 0.3s;
            // transform: translateX(-200px);
        }

        .details {
            font-style: italic;
            color: rgb(185, 206, 224);
            max-height: 3rem;
            overflow-y: scroll;
            padding-right: 15px;
        }

        .icons {
            display: flex;
            flex-direction: column;
            // top: -30px;
            bottom: 0;
            position: absolute;
            right: 5%;
            
            i {
                font-size: 20px;
                margin-bottom: 10px;
                color: rgb(202, 215, 226);
                transition: 0.3s;

                &:hover {
                    cursor: pointer;
                    color: white;
                }
            }

            // @for $i from 1 through length($social-colours) {
            //     :nth-child(#{length($social-colours)}n+#{$i}) {
            //         color: nth($social-colours, $i);
            //     }
            // }
        }
    }

    /* ===========================
   ====== Media Query's ====== 
   =========================== */
    @media only screen and (max-width: 992px) {}

    @media only screen and (max-width: 768px) {
        .gradient {
            // background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(253, 252, 252, 0.11));
            background: transparent;
        }    
    }

    @media only screen and (max-width: 576px) {}
}