@import '../../res/colours.scss';


.payment__form,
.billing__form,
.discountCode__form
{
    
    .form__group {
        position: inherit;
        margin-bottom: 30px;
    
        input {
            // width: 100%;
            border: 1px solid black;
            border-radius: 5px;
            padding: 8px 20px;
        }
    
        span {
            display: flex;
            align-items: center;
            column-gap: 5px;
            color: $green-shade-colour;
            font-weight: 600;
    
            &:hover {
                cursor: pointer;
            }
        }
    }
}


.checkout__basket {
    padding: 20px;
    background: $beige-colour;
    color: black;
    border-radius: 5px;

    h6, h4 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    h6 {
        margin-bottom: 10px;
    }

    h4 {
        padding-top: 20px;
    }

    .line {
        border-top: 1px solid gray;
    }


    .discount__code {
        input {
            // width: 100%;
            border: 1px solid black;
            border-radius: 5px;
            padding: 8px 20px;
        }
    }


    .buy-button {
        margin-top: 20px;
        background: $green-shade-colour;
        color: white;
    }
}