@import '../../res/colours.scss';

:root {
    --drawer-menu-button-scale: 35px;
}

.app__drawer {
    // Hide this menu when the screen is larger than 900px
    // @media screen and (min-width: 900px) {
    //     display: none;
    // }
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;


    &--panel {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        z-index: 9;
        // background: rgba(rgba($beige-colour, 0.85), 1);
        // background: linear-gradient(to bottom, $pink-colour, $beige-colour);
        background: linear-gradient(to bottom, $green-shade-colour, $pink-colour);

        box-shadow: 0 0 20px rgb(128, 128, 128);

        transition: 0.3s ease-in-out;

        div {
            flex: 1;
            height: calc(100% - (4.5rem * 2));
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 4rem;
            // margin: 4.5rem 1.4rem;
            gap: 4rem;

            a {
                color: $white-colour;
                text-decoration: none;
                font-size: 2rem;
                text-transform: uppercase;
                font-weight: 500;

                // transition: 0.3s ease-in-out;

                &:hover {
                    // color: $beige-colour;
                    // text-shadow: 2px 2px 8px $beige-colour;
                }
            }
        }

        &-active {
            border-bottom: solid 3px $white-colour;
        }

        footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            height: 60px;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem;
            // background: red;
            
            button {
                width: 3rem;
                padding: 0.6rem;
                background: white;
                // border: none;


                display: flex;
                // width: var(--drawer-menu-button-scale);
                // height: var(--drawer-menu-button-scale);
                // justify-content: center;
                // align-items: start;
                border: none;
                border-radius: 50px;
                box-shadow: 0 5px 10px rgba($green-shade-colour, 0.5);

                transition: .2s ease-out;


                svg {
                    width: 100%;
                    height: 100%;
                }

                &:hover {
                    transform: scale(1.1);
                }

                &:active {
                    transform: scale(0.9);
                }
            }
        }
    }

    &--menuBtn-container {
        z-index: 10;
        // right: 0;

        button {
            position: fixed;
            top: 0;

            display: flex;
            width: 35px;
            height: 35px;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 50px;
            box-shadow: 0 5px 10px rgba($green-shade-colour, 0.5);


            i {
                position: relative;
                display: inline-block;
                width: 18px;
                height: 3px;
                background: $black-colour;

                transition: .2s ease-out;

                &::before {
                    top: -5px;
                }

                &::after {
                    bottom: -5px;
                }

                &::before,
                &::after {
                    content: '';
                    width: 18px;
                    height: 3px;
                    background: black;
                    position: absolute;
                    left: 0;

                    transition: .2s ease-out;
                }
            }

            &[data-menuvisible="true"] {
                i {
                    // Hide the center line.
                    background: transparent;

                    &::before {
                        top: 0;
                        -webkit-transform: rotateZ(45deg);
                        -moz-transform: rotateZ(45deg);
                        -ms-transform: rotateZ(45deg);
                        -o-transform: rotateZ(45deg);
                        transform: rotateZ(45deg);
                    }

                    &::after {
                        bottom: 0;
                        -webkit-transform: rotateZ(-45deg);
                        -moz-transform: rotateZ(-45deg);
                        -ms-transform: rotateZ(-45deg);
                        -o-transform: rotateZ(-45deg);
                        transform: rotateZ(-45deg);
                    }
                }
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}