@import '../../res/colours.scss';
@import '../../constants/constants.scss';

.refund__section {

    .refund__cta-button {
        color: #fff;
        text-transform: uppercase;
        border-radius: 5px;
        // background: $green-shade-colour;
        background: $pink-dark-colour;
        // background: linear-gradient(to bottom, $pink-dark-colour 0%, $green-shade-colour 100%);
        font-size: 1rem;
        margin-top: 40px;
        transition: all .3s;
        animation: scaleUp 0.5s forwards;

        &:hover {
            box-shadow: 5px 5px 20px rgba($green-shade-colour, 0.5);
            background: darken($pink-dark-colour, 20%);
        }
    }
}