@import '../../res/styles.scss';
@import '../../util/mixin.scss';
@import '../../constants/constants.scss';

.progress-bar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: $green-shade-colour;
    border-radius: 2px;
    transform-origin: center;
}

.navbar-nav {
    @media screen and (max-width: 900px) {
        padding: 0rem 1rem;
    }
    display: grid;
    grid-template-columns: auto auto auto;
    // Full widht of the screen.
    width: 100%;
    height: $navbar-height;
    // Ensures that it stays at the top of the screen.
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    overflow: hidden;
    // Add a blur
    @include blur(4px);
    // Ensures the navbar is above the content
    z-index: 5;

    transition: 0.3s ease-in-out;



    .book-now-button {
        border: 0.1em solid $green-shade-colour;
        color: $green-shade-colour;
    }

    &--logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        
        img {            
            transition: 0.3s ease-in-out;
            
            width: 6rem;
        }
    }

    &--links {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        // margin-left: 3rem;
        margin-right: 3rem;



        &-active {
            text-shadow: 0 0.5px 0.5px rgba(black, 0.5);
            border-bottom: solid 3px 
            // $pink-colour;
            $green-shade-colour;
        }

        li {
            @media screen and (max-width: 900px) {
                display: none;
            }

            // padding: 0px 5px 5px 5px;
            margin: 0rem 1.2rem;
            // Remove the generic link styles.
            list-style: none;

            a {
                color: $green-shade-colour;
                text-transform: capitalize;
                font-size: 18px;
                font-weight: bold;
                text-decoration: none;
                // font-family: cursive;
            }

            // &:hover {
            //     cursor: pointer;
            // }
        }
    }

    &--scroll {
        @media screen and (max-width: 900px) {
            height: calc($navbar-height - 10px);
        }
        // Background colour for the navbar.
        background: rgba($green-shade-colour, 0.85);
        box-shadow: 0 0 30px rgba(black, 0.85);
        height: calc($navbar-height + 10px);

        --border-bottom-radius: 30px;
        border-bottom-left-radius: var(--border-bottom-radius);
        border-bottom-right-radius: var(--border-bottom-radius);



        .progress-bar {
            background: $pink-colour;
        }

        .navbar-nav {
            transition: 0.3s ease-in-out;

            &--logo {

                img {
                    // transition: 0.3s ease-in-out;

                    @media screen and (max-width: 900px) {
                        width: 4rem;
                    }
                }
            }

            &--links {
                transition: 0.3s ease-in-out;

                &-active {
                    border-bottom: solid 3px $pink-colour;
                }

                li {
                    a {
                        color: $pink-colour;
                    }
                }
            }
        }

        .book-now-button {
            border: 0.1em solid $pink-colour;
            color: $pink-colour;

            // &:hover {
            //     box-shadow: 5px 5px black;
            // }
        }
    }
}


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scale-up {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}