@import '../../res/styles.scss';
@import '../../util/mixin.scss';
@import '../../constants/constants.scss';

.progress-bar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: $green-shade-colour;
    border-radius: 2px;
    transform-origin: center;
}

.navbar-nav {
    @media screen and (max-width: 900px) {
        padding: 0rem 1rem;
    }
    display: grid;
    grid-template-columns: auto auto auto;
    // Full widht of the screen.
    width: 100%;
    height: $navbar-height;
    // Ensures that it stays at the top of the screen.
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    // Add a blur
    @include blur(4px);
    // Ensures the navbar is above the content
    z-index: 5;

    transition: 0.3s ease-in-out;



    &--scroll {
        @media screen and (max-width: 900px) {
            height: calc($navbar-height - 10px);
        }
        // Background colour for the navbar.
        background: rgba($beige-colour, 0.85);
        box-shadow: 0 0 20px rgba(128, 128, 128, 0.75);
        height: calc($navbar-height + 10px);

        // border-bottom-left-radius: 20px;
        // border-bottom-right-radius: 20px;




        .navbar-nav {
            transition: 0.3s ease-in-out;

            &--logo {

                img {
                    // transition: 0.3s ease-in-out;

                    @media screen and (max-width: 900px) {
                        width: 4rem;
                    }
                }
            }

            &--links {
                transition: 0.3s ease-in-out;

                &-active {
                    border-bottom: solid 3px $green-shade-colour;
                }

                li {
                    a {
                        color: $green-shade-colour;
                    }
                }
            }

            // .book-now-button {
            //     background: $beige-colour;
        
            //     &:hover {
            //         background: $beige-colour;
            //     }
            // }
        }
    }

    &--logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        
        img {            
            transition: 0.3s ease-in-out;
            
            width: 6rem;
        }
    }

    &--links {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 3rem;

        &-active {
            // &:hover {
            //     &::after {
            //         transform: scaleX(1);
            //         transform-origin: right;
            //     }
            // }

            // &:after {
            //     display: block;
            //     content: '';
            //     transform: scaleX(0);
            //     transform-origin: left;
            //     transition: transform 250ms ease-in-out;
            //     transform: scaleX(1);

            //     border-bottom: 3px solid $gray-colour;
            // }


            border-bottom: solid 3px $pink-colour; // $green-shade-colour;
        }

        li {
            @media screen and (max-width: 900px) {
                display: none;
            }

            // padding: 0px 5px 5px 5px;
            margin: 0rem 1.2rem;
            // Remove the generic link styles.
            list-style: none;

            a {
                color: $blue-colour;
                text-transform: capitalize;
                font-size: 18px;
                font-weight: bold;
                text-decoration: none;
                // font-family: cursive;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .book-now-button {
        position: relative;
        width: 7.5rem;
        height: auto;
        background: $white-colour;
        border: 0.5px solid $gray-colour;
        border-radius: 10px;

        transition: 0.3s ease-in-out;

        &:active {
            transform: scale(0.95);
        }
    }
}


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scale-up {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}