section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    // background: red;

    .box {
        align-items: center;
        border: 1px solid black;
        padding: 0.1em;
        // background: green;
    
        .check {
            // width: 100%;
            // height: 100%;
            object-fit: cover;
            object-position: center center;
    
            // &[data-checked="true"] {
            //     animation: fade-in .3s 0.55s ease-out;
            // }
    
            // &[data-checked="false"] {
            //     animation: fade-out .2s 0.55s ease-out;
            // }
        }
    }

    &:hover {
        cursor: pointer;
    }
}



@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}