@import '../../res/colours.scss';

.footer {
    padding-top: 50px;
    padding-bottom: 20px;
    background: $pink-new-colour;

    
    .footer__text {
        line-height: 30px;
    }

    .quick__links-title {
        margin-bottom: 35px;
        font-size: 1.1rem;
        font-weight: 600;
    }

    .footer__quick-links {

        ul,
        li {
            background: transparent !important;
            color: inherit;

            a {
                color: inherit;
            }
        }
    }

    .footer__contact {

        ul,
        li {
            color: inherit;
        }

        li {
            span {
                color: inherit;
                font-size: 1.2rem;
            }

            p {
                color: inherit;
                font-size: 0.9rem;
            }
        }

        svg {
            color: inherit;
            width: 20px;
            height: 20px;
        }
    }

    .footer__copyright {
        color: inherit;
        font-size: 0.9rem;
        margin-top: 10px;
        // text-align: center;
    }
}