@import '../../res/colours.scss';

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: 70px;

    header {
        margin-bottom: 1.2rem;
        @media screen and (max-width: 900px) {
            margin-top: 1.2rem;
        }

        .title {
            // margin-bottom: 1.5rem;
            // font-family: cursive;
            border-bottom: 3px solid rgba($pink-colour, 0.4);
        }
    }
}