@import '../../../res/colours.scss';
@import '../../../constants/constants.scss';

.app__training-review {
    @media screen and (min-width: 1200px) {
        height: $banner-height auto;
    }
    // min-height: 100vh;
    padding: 2rem 0;
    background: $white-colour;
    width: 100%;
    z-index: 2;
    


    &--list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
        @media screen and (max-width: 900px) {
            gap: 2rem;
        }
        /* top | right | bottom | left */
        // margin: 0rem 0rem 0rem 0rem;
    }
}