@import '../../res/colours.scss';
@import '../../constants/constants.scss';

.app__training-review-banner {
    @media screen and (min-width: 1200px) {
        height: $banner-height auto;
    }
    // min-height: 100vh;
    padding: 2rem 0;
    background: rgba($beige-dark-colour, 1);
    width: 100%;
    margin-bottom: calc($footer-height - 10px);
    

    &-title {
        font-size: 26px;
        border-bottom: 3px solid rgba($blue-colour, 0.4);
        // background: green;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}