.image__banner {
    background: 
        linear-gradient(rgba(white, 0.462), rgba(black, 0.562), rgba(white, 0.462)),
        url("../../../assets/images/BannerImage.png") no-repeat center center;
    background-size: 100% 100%;
    padding: 90px 0px;
    display: flex;
    align-items: center;

    h1 {
        color: white;
        font-weight: 600;
    }
}


@media only screen and (max-width: 768px) {
    .image__banner {
        padding: 70px 0px;
        background-size: contain;

        h1 {
            font-size: 1.4rem;
        }
    }
}

@media only screen and (max-width: 576px) {
}