.image__banner {
    background:
        // linear-gradient(rgba(white, 0.462) 0%, rgba(black, 0.462) 50%, rgba(white, 0.462) 100%),
        linear-gradient(rgba(white, 0.462) 0%, rgba(#facee6, 0.362) 50%, rgba(white, 0.462) 100%),
        // url("../../../assets/images/BannerImage.png") no-repeat center center;
        url("../../../assets/images/Shop.jpeg") no-repeat center center;
    // background-size: 100% 100%;
    background-size: cover;
    background-position: 0 20%;
    padding: 90px 0px;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;


    
    h1 {
        color: #fff;
        font-weight: 600;

        animation: slideUp 0.8s ease-out forwards;
    }

    h6 {
        width: fit-content;
        color: #fff;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            border-radius: 25px;
            // transform: scaleX(1);
            background: #fff;
        }
    }
}


@media only screen and (max-width: 768px) {
    .image__banner {
        padding: 70px 0px;
        background-position: 0 10%;

        h1 {
            font-size: 1.4rem;
        }
    }
}

@media only screen and (max-width: 576px) {}