.image__banner {
    background: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)),
        url("../../../assets/images/BannerImage.png") no-repeat center center;
    background-size: cover;
    padding: 100px 0px;
    display: flex;
    align-items: center;

    h1 {
        color: white;
        font-weight: 600;
    }
}


@media only screen and (max-width: 768px) {
    .image__banner {
        padding: 70px 0px;

        h1 {
            font-size: 1.4rem;
        }
    }
}