:root {
  --font-base: 
  /* "DM Sans", sans-serif; */
  Montserrat;
  /* Menlo; */
  /* Monaco; */
  /* 'Courier New'; */
  /* monospace; */
}

body {
  font-family: var(--font-base);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;


  -webkit-tap-highlight-color: transparent;
  outline: none;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}