@import './res/styles.scss';
@import './res/colours.scss';
@import './constants/constants.scss';
@import './util/mixin.scss';

@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica'), url('./assets/fonts/Helvetica/Helvetica - 700.ttf') format('opentype');
}

:root {
  --font-base:
  Helvetica;
  // "Arial";
  // Montserrat;
  // "DM Sans", sans-serif;
  // "Lato", sans-serif;
  // Menlo;
  // Monaco;
  // 'Courier New';
  // monospace;
}


body {
  font-family: var(--font-base)
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;


  -webkit-tap-highlight-color: transparent;
  outline: none;

  line-height: 1.5em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.new-line {
  // For line break \n:
  // white-space: pre-line;
  // For line break \n and tabs \t:
  white-space: pre-wrap;
}

button {
  border: none;

  &:hover {
    cursor: pointer;
  }
}

button[disabled] {
  opacity: 0.3;

  &:hover {
    cursor: default;
    transform: scale(1);
  }
}