@import './res/colours.scss';

:root {
  --font-base:
    /* "DM Sans", sans-serif; */
    Montserrat;
  /* Menlo; */
  /* Monaco; */
  /* 'Courier New'; */
  /* monospace; */
}

body {
  font-family: var(--font-base);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;


  -webkit-tap-highlight-color: transparent;
  outline: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}




.app__book-now-button-container {
  display: flex;
  justify-content: flex-end;


  // // Extra large or Desktop devices
  // @media screen and (max-width: 2000px) {
  //   display: none;
  // }

  // // Mobile and tablet
  // @media screen and (max-width: 1200px) {
  //   display: none;
  // }

  .app__book-now-button {
    background: $white-colour;
    border: 3px solid $pink-colour;

    @media screen and (max-width: 900px) {
      position: fixed;
      bottom: 20px;
      right: 20px;
      min-width: 100px;
      height: 2rem;
      background: transparent;
      border: none;
      cursor: pointer;

      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      transition: 0.3s ease-out;

      // svg {
      //   color: $blue-colour;
      //   width: 100%;
      //   height: 100%;
      // }

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        svg {
          color: red;
        }
      }
    }
  }
}

.app__desktop-hide {
  // Extra large or Desktop devices
  @media screen and (max-width: 2000px) {
    display: none;
  }
}

.app__mobile-hide {
  @media screen and (max-width: 900px) {
    display: none;
  }
}





// .scroll-to-top {
//   position: fixed;
//   bottom: 20px;
//   right: 20px;
//   width: 40px;
//   height: 40px;
//   background: transparent;
//   border: none;
//   cursor: pointer;

//   transition: 0.3s ease-out;


//   svg {
//     color: $gray-colour;
//     width: 100%;
//     height: 100%;
//   }

//   &:hover {
//     transform: scale(1.1);
//   }

//   &:active {

//     svg {
//       color: red;
//     }
//   }
// }