@import './res/colours.scss';
@import './constants/constants.scss';
@import './util/mixin.scss';

@font-face {
  font-family: 'HelveticaNeue';
  src: local('HelveticaNeue'), url('./assets/fonts/helveticaneue/HelveticaNeue.ttf') format('opentype');
}

:root {
  --font-base:
    HelveticaNeue;
  // Montserrat;
  // "DM Sans", sans-serif;
  // "Lato", sans-serif;
  // Menlo;
  // Monaco;
  // 'Courier New';
  // monospace;
}


body {
  font-family: var(--font-base);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;


  -webkit-tap-highlight-color: transparent;
  outline: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.new-line {
  white-space: pre-line;
}

.footer-padding {
  height: $footer-height;
}