@import '../../res/colours.scss';

.courses__section {
    background: white;

    .category-header {
        font-weight: 700;
        margin-left: 10px;
        margin-bottom: 20px;
        text-decoration: underline;
    }
}