@import '../../res/colours.scss';

.app__courses {
    min-height: 100vh;


    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        // max-width: 80%;
        height: 100%;
        margin: 30px 0;
        // margin-top: 30px;
        // margin-bottom: 50px;
        gap: 30px;
    }
}