@import '../../../res/colours.scss';

.inputarea-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    

    textarea {
        width: 300px;
        // height: 150px;

        min-height: 120px;
        max-height: 120px;
        min-width: 100%;
    }

    textarea {
        width: 100%;
        box-shadow: none;
        outline: none;
        border: none;
        border-radius: 10px;
        padding: 10px 10px;

        transition: var(--modeTransition);


        &:focus {
            // border-bottom: 5px solid $secondary-colour;
        }

        &:not(:placeholder-shown) {
            border-bottom: 3px solid hsl(0, 76%, 50%);;
        }
        &:valid {
            border-bottom: 3px solid hsl(120, 76%, 50%);
        }

        // If focused, not empty or valid then update the label.
        &:focus,
        &[value=" "],
        &:valid
        {
            font-size: 1.1em;
            font-weight: bold;
            
            &~label
            {
                color: gray;
                font-size: 0.9em;
                transform: translate(10px, 0px);
            }
        }
    }

    label {
        @media screen and (max-width: 900px) {
            font-size: 0.8em;
        }
        position: absolute;
        top: 0;
        left: 0;
        color: black;
        pointer-events: none;
        font-size: 1em;
        
        transform: translate(10px, 10px);
        transition: var(--modeTransition);
    }

    &--icon {
        position: absolute;
        right: 0;
        bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10%;
        margin-bottom: 20px;
        // max-width: 48px;
        // height: 100%;

        
        svg {
            display: block;
        }
    }

    // textarea:focus~label,
    // textarea:valid~label {
    //     top: -12px;
    //     left: 0;
    //     color: gray;
    //     font-size: 1em;
    //     font-weight: bold;
    // }
}