@import '../../res/colours.scss';
@import '../../constants/constants.scss';

.app__notFound {
    @media screen and (max-width: 900px) {
        // top | right | bottom | left
        // padding: $navbar-height/2 5px 20px 5px;
    }
    min-height: 100vh;
    background: $white-colour;
    // top | right | bottom | left
    // padding: $navbar-height/2 20px 20px 20px;

    background: linear-gradient(to bottom, $green-shade-colour, $pink-colour);


    z-index: 1;


    .main-404 {
        position: relative;
        // background: green;
        // height: ;

        h1 {
            @media screen and (max-width: 900px) {
                font-size: 13em;
            }
            font-size: 15em;
            color: lightgray;

            animation: flash-text-shadow 5s 1s infinite;
        }
        .not-found {
            position: absolute;
            bottom: 20px;
            font-size: 2em;
            font-weight: bolder;
            color: $pink-colour; //$green-shade-colour;
        }
    }

    .information {
        @media screen and (max-width: 900px) {
            font-size: 1.3em;
        }
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 20px;
        color: white;
    }
}




@keyframes flash-text-shadow {
    0%, 100% {
        text-shadow: 0 2px 5px rgba($pink-colour, 0);
    }
    50% {
        text-shadow: 0 6px 10px rgba($pink-colour, 1);
    }



    // from {
    //     text-shadow: 0 2px 5px rgba($pink-colour, 0);
    // }

    // to {
    //     text-shadow: 0 12px 15px rgba($pink-colour, 1);
    // }
}