@import '../../../res/colours.scss';

.basket--item {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    border: 3px solid white;
    box-shadow: 5px 5px 0px rgba($green-shade-colour, 0.5);
    overflow: visible;
    background: lightgray;
    padding: .5rem;
    // background: $green-shade-colour;


    .item-content {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .item-remove-button {
        display: flex;
        width: auto;
        height: 100%;
        justify-content: center;
        align-items: center;

        button {
            background: transparent;
            padding: 5px;
            height: 100%;
            width: 30px;

            transition: 0.3s ease-in-out;

            svg {
                width: 100%;
                height: 100%;
            }

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}