@import '../../../res/colours.scss';
@import '../../../constants/constants.scss';

:root {
    --drawer-menu-button-scale: 35px;
}

.sidebar-button-container {
    position: absolute;
    display: inline-block;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    transform: translate(15px, 15px);
    // bottom: 0;
    z-index: 10;


    button {
        display: flex;
        width: var(--drawer-menu-button-scale);
        height: var(--drawer-menu-button-scale);
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50px;
        box-shadow: 5px 5px 5px rgba($green-shade-colour, 0.5);


        i {
            position: relative;
            display: inline-block;
            width: 18px;
            height: 3px;
            background: $black-colour;

            transition: .2s ease-out;

            &::before {
                top: -5px;
            }

            &::after {
                bottom: -5px;
            }

            &::before,
            &::after {
                content: '';
                width: 18px;
                height: 3px;
                background: black;
                position: absolute;
                left: 0;

                transition: .2s ease-out;
            }
        }

        &[data-menuvisible="true"] {
            i {
                // Hide the center line.
                background: transparent;

                &::before {
                    top: 0;
                    -webkit-transform: rotateZ(45deg);
                    -moz-transform: rotateZ(45deg);
                    -ms-transform: rotateZ(45deg);
                    -o-transform: rotateZ(45deg);
                    transform: rotateZ(45deg);
                }

                &::after {
                    bottom: 0;
                    -webkit-transform: rotateZ(-45deg);
                    -moz-transform: rotateZ(-45deg);
                    -ms-transform: rotateZ(-45deg);
                    -o-transform: rotateZ(-45deg);
                    transform: rotateZ(-45deg);
                }
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}